/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-------------------- ROOT VARIABLES --------------------*/
h1, 
h2 {
    font-family: "Kavoon";
}

h3, 
h4, 
p, 
li,
a,
tr,
td {
    font-family: "Inter";
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/*-------------------- COLORS --------------------*/
:root {
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 

}

/*-------------------- GLOBAL STYLES (mobile first/small) --------------------*/
@media (min-width: 428px) {
    body {
        background-color: var(--Purple);
        color: var(--Dark-gray);
    }

    header {
        background-color: var(--Lavender);
        color: var(--White);
        text-align: center;
        border-radius: 20px;
    }

    h1 {
        padding: 1em;
    }

    header p {
        background-color: var(--Pink);
        padding: 20px 0 2px 0;
        font-style: italic;
        border-radius: 10px;
    }

    nav li:first-child {
        display: none;
    }

    nav {
        background-color: var(--Yellow);
        width: 50%;
        padding: 20px 5px 5px 5px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        left: 710px;
        bottom: 200px;
    }

    nav ul {
        font-family: "Inter";
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: right;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
    }

    nav a:hover {
        color: var(--White);
    }

    a {
        color: var(--Dark-gray);
    }

    h2 {
        color: var(--White);
        font-weight: bold;
    }

    h3 {
        color: var(--Yellow);
        font-weight: bold;
    }

    #services {
        display: flex;
        flex-direction: wrap;
        justify-content: center;
        gap: 20px;
    }

    #services h3 {
        text-align: center;
        padding: 10px;
    }
    #service {
        background-color: var(--White);
        width: 280px;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    #choose {
        background-color: var(--Pink);
        margin: 1rem 0;
    }

    #choose ul {
        list-style-type: none;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #choose li {
        text-align: center;
        font-weight: bold;
        display: grid;
        align-items: center;
    }

    #choose li:first-child {
        background-color: var(--Teal);
        width: 300px;
        height: 90px;
        border-radius: 15px;
    }

    #choose li:nth-child(2) {
        background-color: var(--Lavender);
        width: 300px;
        height: 90px;
        border-radius: 15px;
    }

    #choose li:nth-child(3) {
        background-color: var(--Yellow);
        width: 300px;
        height: 90px;
        border-radius: 15px;
    }


    #choose li:last-child {
        background-color: var(--White);
        width: 300px;
        height: 90px;
        border-radius: 15px;
    }

    table, th, td {
        border: 1px solid var(--Yellow);
        border-collapse: collapse;
    }

    table {
        table-layout: fixed;
        width: 300px;
        text-align: center;
    }

    th {
        background-color: var(--Yellow);
    }

    td {
        background-color: var(--White);
    }

    #prices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        padding: 20px;
    }

    #first-steps {
        background-color: var(--Pink);
        color: var(--White);
    }

    #steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
        padding: 20px;
        gap: 200px;
    }

    #steps a {
        background-color: var(--White);
        color: var(--Dark-gray);
        width: 300px;
        height: 50px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        border-radius: 15px;
        filter: drop-shadow(4px 4px var(--Dark-gray));
    }

    footer {
        background-color: var(--Lavender);
        color: var(--White);
        text-align: center;
        padding: 60px 0;
        margin-bottom: 50px;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    footer a {
        color: var(--White);
    }
}

/*-------------------- MEDIA QUERY (medium) --------------------*/
@media (min-width: 768px) {
    /* x */
}

/*-------------------- MEDIA QUERY (large) --------------------*/
@media (min-width: 992px) {
    /* x */
}

/*-------------------- MEDIA QUERY (xl) --------------------*/
@media (min-width: 1200px) {
    /* x */
}